#logobox{
  height: 100px;
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:relative;
}
#logo{
  height: 100px;
  width: 100px;
  background-image: url(IMG-20250630-WA0042[1].JPG);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}
#nav{
  height: 90px;
  width: 500px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family:Roboto;
  border-radius: 20px;
  font-weight: bold;
}
.options{
  color: rgb(65, 65, 65);
  font-size: 16px;
  text-decoration: none;
}
#hero{
  height: 550px;
  width: 1450px;
  background-image: url(shop.jpg);
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
#heroh1{
  font-size: 70px;
  font-family:Verdana;
  color: rgba(18, 80, 81, 0.947);
}
#heroh3{
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: goldenrod;
}
.button{
  background:rgb(243, 243, 13);
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(74, 2, 26);
  border-radius: 5px;
  height: 60px;
  width: 190px;
  border: none;
  cursor: pointer;

}
.herob{
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  background-color:none;
  border: none;
}
#whyh1{
  font-size: xx-large;
  color: goldenrod;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
  font-family:sans-serif;
  color: rgb(83, 21, 21);
}
#whychoose{
  height: 500px;
  width: 1350px;
  margin: auto;
  background-color: rgb(236, 230, 241);
  padding: 50px;
  border-radius: 25px;
  
}
.options1{
  height: 350px;
  width: 1350px;
  background-color: rgb(240, 245, 245);
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content:space-evenly;
  align-items: center;
  border-radius: 20px;
  
}
.option{
 background-color: rgb(248, 249, 249);
 height: 280px;
 width: 380px;
 box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 10px;
 color: brown;
}
#expmh2{
  color: rgb(67, 57, 2);
  height: auto;
  width: auto;
  margin: auto;
  justify-content: center;
  padding: 50px;
}
#expm{
  height: 500px;
  width: 1250px;
  display: grid;
  grid-template-rows: auto auto;
  gap: 5px;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 30px;
}
#menu{
  height: 230px;
  width: 280px;
  border-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  border: 2px solid black;
  
}
#content1{
  height: 350px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: azure;
  padding: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
.image1{
  height: 250px;
  width: 450px;
  background-image: url(content\ 1.jpg);
  border-radius: 10px;
  border: 2px solid rgb(11, 11, 11);
  background-repeat: no-repeat;
  background-size: cover;
}

.matter1{
  width: 600px;
  height: 250px;
  border-radius: 10px;
  padding: 20px;
  color: brown;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
}
#content2{
  height: 350px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: azure;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
.image2{
  height: 200px;
  width: 350px;
  background-image: url(discount.jpeg);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size:contain;
}

.matter2{
  width: 750px;
  height: 350px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  color: brown;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex-direction: column;
}
#payments{
  height: 100px;
  width: 400px;
  background-color: rgb(241, 241, 244);
  display: flex;
  flex-direction: row;
}

.po1{
  width: 100px;
  height: 80px;
  align-items: center;
  margin: auto;
  background-image: url(p1.png);
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
}
.po2{
  width: 100px;
  height: 80px;
  align-items: center;
  margin: auto;
  background-image: url(p2.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
}
.po3{
  width: 100px;
  height: 80px;
  align-items: center;
  margin: auto;
  background-image: url(p3.png);
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
}
.po4{
  width: 100px;
  height: 80px;
  align-items: center;
  margin: auto;
  background-image: url(p4.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
}
#content3{
  height: 300px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(249, 231, 128);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
.image3{
  height: 250px;
  width: 250px;
  background-image: url(giftbox..jpg);
  border-radius: 10px;
  background-repeat:no-repeat;
  background-size:contain;
}

.matter3{
  width: 750px;
  height: 250px;
  border-radius: 10px;
   padding: 10px;
  display: flex;
  color: brown;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex-direction: column;
}
#flw{
  width: 800px;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#flwmain{
  width: 750px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  
}
.flws1{
  width: 100px;
  height: 100px;
  border: 1px solid green;
  border-radius: 100px;
  background-image: url(https://s.yimg.com/fz/api/res/1.2/WcH8VDX4XMZLqOT_1QFeJQ--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/efb32ac1-ab75-3801-aee1-666cdf999dfa/t_500x300);
  background-size: cover;
 
}
.flws2{
  width: 100px;
  height: 100px;
  border: 1px solid green;
  border-radius: 100px;
  background-image: url(https://s.yimg.com/fz/api/res/1.2/7wmcqjtgVFiMeMxLOlW3sw--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/e9d6381f-6a16-39d9-b6f9-1467838c022c/t_500x300);
  background-size: cover;

}
.flws3{
  width: 100px;
  height: 100px;
  border: 1px solid green;
  border-radius: 100px;
  background-image: url(https://s.yimg.com/fz/api/res/1.2/bfhuQx02Fd0qgLXZbH1dww--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/ff6c2336-05c2-34bf-8d42-c8eb48fbacf1/t_500x300);
  background-size: cover;
 
}
#footer{
  background-color: lightgoldenrodyellow;
  height: 270px;
  width: 1500px;
  margin: auto;
 }
#footer1{
  height: 250px;
  width: 1000px;
  color: brown;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}